/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2021年3月1日, 上午8:15:25
    Author     : WANG
*/

/*Header menu*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #333;
}

.menuBar li {
    float: left;
}

.menuBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 26px 20px;
    text-decoration: none;
}

.menuBar li a:hover {
    background-color: #111;
}

/*Top div : Logo if not in the menu table, Connexion/profile corner*/
.connexionInfos{
    float : right;
    right: 5%;
}

.logo{
    position: absolute;
    left: 5%;
    top: 5%;
}

/*Main title*/
.headTitle{
    text-align: center;
}

/*Center table*/
.mainInfos{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.listeEquipe{
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/*Lower right icon*/
.about{
    position: absolute;
    right: 5%;
    bottom: 5%;
}


/*Icônes/logos*/
.smallIcon{
    width: 42px;
    height: 42px;
    vertical-align: middle;
}

#teamIcon{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

#logo{
    width: 192px;
    height: 67px;
}

/*Pop-ups*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    padding-top: 200px;
    padding-bottom: 300px;
    padding-left: 600px;
    padding-right: 600px;
    width: 100%; 
    height:  100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    }

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 200px auto;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-200px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-200px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    display: block;
    line-height: 30px;
    padding: 2px 10px;
    background-color: blue;
    color: white;
    text-align: left;
}

.modal-body {
    padding: 2px 16px;
    font-size: 18px;
    height: 200px;
}

.modal-footer {
    display: block;
    line-height: 30px;
    padding: 2px 10px;
    background-color: blue;
    color: white;
}